@import"./utils/variables.scss";
@import"./utils/mixins.scss";
@import"./layouts/header.scss";
@import"./layouts/location.scss";
@import"./layouts/explorer.scss";
@import"./layouts/notice.scss";
@import"./layouts/restaurants.scss";
@import"./layouts/footer.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");
.h2{
    font: 28px 700;
}

.flex {
    display:flex;
    flex-direction: column;
}
ol{
    list-style: none;
}