@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");
.title, .menu .name, footer .logo, header .logo {
  font-family: "Shrikhand";
  font-size: 35px;
}

header {
  padding: 10px 0px 15px;
}
header .logo {
  text-align: center;
}

.location {
  background-color: #eaeaea;
  box-shadow: #cecece inset 0px 13px 5px -10px;
}
.location p {
  font-family: "Roboto", sans-serif;
  color: #4b4b4b;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  transform: translateX(-10px);
}
.location p i {
  transform: translateX(-15px);
}

.explorer {
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  width: 100%;
}
.explorer h2 {
  margin: 0% 15%;
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
}
.explorer button {
  background: linear-gradient(356deg, #815baf 0%, #ff79da 100%);
  align-self: center;
  color: white;
  width: 250px;
  height: 60px;
  justify-content: center;
  border-radius: 50px;
  box-shadow: #cecece 0px 7px 7px 0px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  border: none;
  align-items: center;
  margin-bottom: 50px;
}

.explorer p {
  margin: 0% 6%;
  font-weight: lighter;
  padding-top: 15px;
  text-align: center;
  font-size: 18px;
  color: #4b4b4b;
  margin-bottom: 30px;
}

.notice {
  width: 85%;
  padding-bottom: 30px;
}
.notice h2 {
  margin-left: 30px;
  margin-top: 50px;
}
.notice ol {
  counter-reset: notice-list;
  justify-content: space-between;
  width: 100%;
}
.notice ol li {
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: #cecece 2px 4px 12px 0px;
  padding: 25px 0px;
  margin-bottom: 25px;
  counter-increment: notice-list;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.notice ol li::before {
  content: counter(notice-list);
  list-style-position: outside;
  width: 27px;
  height: 28px;
  font-weight: 500;
  border-radius: 50%;
  display: inline-block;
  line-height: 28px;
  color: white;
  text-align: center;
  background: #9356DC;
  transform: translateX(-15px);
}
.notice ol li i {
  color: #4b4b4b;
  font-size: 20px;
  min-width: 20px;
  padding-right: 25px;
  padding-left: 10px;
}
.notice ol li span {
  text-align: center;
}

section {
  background-color: #f6f6f6;
}
section h2 {
  margin-left: 20px;
  margin-top: 30px;
}
section .cards {
  align-items: center;
  flex-wrap: wrap;
}
section .cards .card {
  width: 90%;
  height: 280px;
  border-radius: 25px;
  max-width: 420px;
  box-shadow: #cecece 2px 4px 12px 0px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}
section .cards .card .new-restaurant {
  position: absolute;
  right: 17px;
  background-color: #99E2D0;
  color: #24806a;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  padding: 6px 12px;
  border-radius: 2px;
}
section .cards .card .card-desc {
  flex-direction: row;
  justify-content: space-between;
}
section .cards .card .card-desc i {
  padding: 5px 25px 25px 25px;
  font-size: 28px;
}
section .cards .card:nth-child(1) img {
  object-position: 0px -48px;
}
section .cards .card:nth-child(2) img {
  object-position: 0px -168px;
}
section .cards .card:nth-child(3) img {
  object-position: 0px -47px;
}
section .cards .card:nth-child(4) img {
  object-position: 0px -44px;
}
section .cards .card img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
}
section .cards .card .crd-txt {
  flex-wrap: wrap;
  max-height: max-content;
}
section .cards .card .crd-txt h3 {
  margin: 0px 0px 5px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
section .cards .card .crd-txt p {
  margin: 0px 0px 0px 10px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 17px;
  color: #4b4b4b;
}

footer {
  color: white;
  background-color: #353535;
  padding-top: 15px;
}
footer .logo {
  text-align: start;
  font-size: 20px;
  padding-left: 20px;
}
footer ol {
  margin-left: -20px;
  font-family: "Roboto", sans-serif;
}
footer ol .bolder {
  font-weight: 500;
}
footer ol li {
  padding-bottom: 5px;
}
footer ol li i {
  padding-right: 15px;
}

img {
  width: 100%;
  max-width: 766px;
}

.menu {
  background-color: #f6f6f6;
  border-radius: 25px 25px 0px 0px;
  width: 100%;
  max-width: 766px;
  transform: translateY(-59px);
}
.menu .titles {
  width: max-content;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: lighter;
  font-size: 16px;
  color: #4b4b4b;
  padding-left: 15px;
}
.menu .titles::after {
  content: "";
  display: block;
  margin: 0;
  width: 45px;
  padding-top: 5px;
  border-bottom: 3px solid #99E2D0;
}
.menu .name {
  padding: 30px 15px;
  font-size: 32px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.menu .name .heart {
  font-size: 30px;
  padding-right: 30px;
  align-self: flex-end;
}
.menu .display {
  align-items: center;
  margin-bottom: 20px;
}
.menu .display .dishes {
  flex-direction: row;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 20px;
  width: 90%;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px;
  box-shadow: #cecece 2px 4px 12px 0px;
}
.menu .display .dishes i {
  display: none;
}
.menu .display .dishes .price {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-size: 17px;
}
.menu .display .dishes .dish h3 {
  margin: 0px 0px 5px 0px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  width: 280px;
}
.menu .display .dishes .dish p {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 17px;
  color: #4b4b4b;
  font-size: 16px;
}
.menu button {
  background: linear-gradient(356deg, #815baf 0%, #ff79da 100%);
  align-self: center;
  color: white;
  width: 250px;
  height: 60px;
  justify-content: center;
  border-radius: 50px;
  box-shadow: #cecece 0px 7px 7px 0px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  border: none;
  align-items: center;
  margin-top: 20px;
}

.flex {
  display: flex;
  flex-direction: column;
}

ol {
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
