.explorer{
    background-color: $clr-gray-light;
    font-family: $font;
    justify-content: center;
    width: 100%;
    h2{
        margin:0% 15%;
        text-align: center;
        padding-top: 20px;
        font-size: 24px;
        
    }
    button{
        @include btn-gradient;
        margin-bottom: 50px;
    }
}


.explorer p{
        margin:0% 6%;
        font-weight: lighter;
        padding-top: 15px;
        text-align: center;
        font-size: 18px;
        color: $gray-text;
        margin-bottom: 30px;
    }