.explorer{
    background-color: $clr-gray-light;
    font-family: $font;
    justify-content: center;
    width: 100%;
    h2{
        margin:0% 15%;
        text-align: center;
        padding-top: 20px;
        @extend .h2;
        
        
    }
        button{
            @include btn-gradient;
        }
}
.explorer p{
        margin:0% 5%;
        font-weight: lighter;
        padding-top: 15px;
        text-align: center;
        font-size: 20px;
        color: rgb(75, 75, 75);
        margin-bottom: 30px;
    }