body{
    animation-name: no-scroll;
    animation-duration: 3s;

}
.full-page{
    .loading{

        text-align: center;
        height: 0px;
        background-color: white;
        animation-name: loading;
        animation-duration: 3s;
        justify-content: center;


        .spinner{
            font-size: 200px;
            color: $clr-tertiary;
            animation-name: spinner;
            animation-duration: 3s;
            animation-timing-function: ease-in-out;
            vertical-align: middle;

        }
    }
}