body{
    animation-name: no-scroll;
    animation-duration: 3s;
    @keyframes no-scroll{
        0%{
        overflow: hidden;
        }
        100%{
            overflow:hidden;
        }
    }

}
.full-page{
    .loading{

        text-align: center;
        height: 0px;
        background-color: white;
        animation-name: loading;
        animation-duration: 3s;
        justify-content: center;

        @keyframes loading{
            0%{
                height: 100%;
                position: fixed;
                width: 100%;
                z-index: 999;
            }
            100%{
                height: 100%;
                position: fixed;
                width: 100%;
                z-index: 999;
            }
        }
        .spinner{
            font-size: 200px;
            color: $clr-tertiary;
            animation-name: spinner;
            animation-duration: 3s;
            animation-timing-function: ease-in-out;
            vertical-align: middle;
            @keyframes spinner{
                0%{
                    transform:rotate(0deg)
                }
                100%{
                    transform:rotate(1080deg)
                }
            }
        }
    }
}