.menu-full-page {
    background:$clr-gray-light ;

}
img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}
header{
    background-color: white;
    width: 100%;
    text-align: center;
    height: 40px;
    justify-content: center;
    .arrow{
        position: absolute;
        top: 25px;
        left: 30px;
        font-size: 22px;
        cursor: pointer;
    }
    h1{
        font-family: $logo-font;
        font-weight: 500;
        font-size: 28px;
        padding-top: 16px;
    }
}
.menu {
    background-color: $clr-gray-light;
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    min-width: 100%;
    transform: translateY(-59px);
    .titles {
        width: max-content;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: lighter;
        font-size: 16px;
        color: $gray-text;
        padding-left: 15px;
        opacity: 0;
        animation-name: appearance;
        animation-direction: normal;
        animation-duration: 1s;
        animation-fill-mode: both;
        &.meal{
            animation-delay: 350ms;
        }
        &.dessert{
            animation-delay: 650ms;
        }
        &::before{
            content: "";
            position: absolute;
            left: 16px;
            bottom: -7px;
            width: 45px;
            height: 3px;
            background-color: #99E2D0;
        }
    }
    .name {
        @extend .title;
        padding:30px 15px;

        
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        .heart{
            padding-right: 8px;
        }
    }
    .display {
        align-items: center;
        margin-bottom: 20px;
        min-width: 0px;

        .dishes {
        flex-direction: row;
        background-color: white;
        overflow: hidden;
        border-radius: 20px;
        margin-bottom: 20px;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 96%;
        height:70px;
        align-items: flex-end;
        @include shadows;
        cursor: pointer;
        opacity: 0;
        animation-name: appearance;
        animation-direction: normal;
        animation-duration: 1100ms;
        animation-fill-mode: both;

                &.anim_1 {
                    animation-delay: 100ms;
                }
                &.anim_2 {
                    animation-delay: 200ms;
                }
                &.anim_3 {
                    animation-delay: 300ms;
                }
                &.anim_4 {
                    animation-delay: 400ms;
                }
                &.anim_5 {
                    animation-delay: 500ms;
                }
                &.anim_6 {
                    animation-delay: 600ms;
                }
                &.anim_7 {
                    animation-delay: 700ms;
                }
                &.anim_8 {
                    animation-delay: 800ms;
                }
                &.anim_9 {
                    animation-delay: 900ms;
                }
                &:hover .check{
                    height:70px;
                    @keyframes check{
                        0%{
                        width:0px;
    
                        }
                        100%{
                            width: 80px;
                        }
                        
                    }
                    animation-name: check;
                    animation-duration: 500ms;
                    animation-fill-mode: both;
                    align-items: center;
                    justify-content: center;
                }
                    &:hover i{

                            animation-name: rotation;
                            animation-delay:200ms;
                            animation-duration: 500ms;
                        }
                    
                }
                
            .price{
            @include main-font;
            font-size: 17px;
            padding-bottom: 11px;
            margin-right: 20px;
            margin-left: 20px;
        }
        
            .dish{
         
                width: calc(90%);
                padding-left: 10px;
                flex-wrap: nowrap;
                align-self: center;
                overflow: hidden;
                
                h3{
                margin: 0px 0px 5px 0px;
                @include main-font;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: inline-block;
                }
                p{
                    margin: 0px;
                    @include light-font;
                    font-size:16px;
                    white-space: nowrap;
                    overflow: hidden;
                    display: inline-block;
                    text-overflow: ellipsis;
                }
            }
            .check{
                align-self: center;
                width:0px;
                color: white;
                background-color: $clr-tertiary;
                font-size: 22px;
                overflow: visible

                }       
            }
        
    }
    

    button{
        @include btn-gradient;
        margin-top: 20px;
        margin-bottom: 1%;
    }

