section {
    background-color: $clr-gray-light;
    h2{
        margin-left: 20px;
        margin-top: 30px;
    }
    .cards {
        align-items: center;
        flex-wrap: wrap;

        .card {
            width:90%;
            height: 280px;
            border-radius: 25px;
            max-width:420px;
            box-shadow:$clr-shadows 2px 4px 12px 0px;
            overflow: hidden;
            margin-bottom: 20px;
            position: relative;
            cursor: pointer;
        
            .new-restaurant {
                position: absolute;
                right: 17px;
                background-color: $clr-tertiary;
                color: $clr-new;
                font-family: $font;
                font-weight: 700;
                font-size: 15px;
                padding: 6px 12px;
                border-radius: 2px;
            }
            .card-desc {
                flex-direction: row;
                justify-content: space-between;
            }

            &:nth-child(1) img {
                object-position: 0px -48px;
            }
            &:nth-child(2) img {
                object-position: 0px -150px;
            }
            &:nth-child(3) img {
                object-position: 0px -47px;
            }
            &:nth-child(4) img {
                object-position: 0px -44px;
            }
            img {
                object-fit: cover;
                width: 100%;
                height: 200px;
                margin-bottom: 15px;
            }
            .crd-txt{
                flex-wrap: wrap;
                max-height: max-content;

                h3{
                    margin: 0px 0px 5px 10px;
                    @include main-font;

                }
                p{
                    margin: 0px 0px 0px 10px;
                    @include light-font;


                }
            }
        }
    }
}